# Analyse univari√©e des targets

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('../data/marketplaces.db') 

# df_products = pd.DataFrame(pd.read_sql_query ('''SELECT * FROM product''', conn))
# df_payments = pd.DataFrame(pd.read_sql_query ('''SELECT * FROM payments''', conn))
# df_geolocation = pd.DataFrame(pd.read_sql_query ('''SELECT * FROM geolocation''', conn))
# df_sellers = pd.DataFrame(pd.read_sql_query ('''SELECT * FROM sellers''', conn))
# df_reviews = pd.DataFrame(pd.read_sql_query ('''SELECT * FROM reviews''', conn))
# df_customers = pd.DataFrame(pd.read_sql_query ('''SELECT * FROM customers''', conn))
# df_items = pd.DataFrame(pd.read_sql_query ('''SELECT * FROM items''', conn))                        
# df_order = pd.DataFrame(pd.read_sql_query ('''SELECT * FROM `order`''', conn)) 



cur = conn.cursor()
cur.execute("SELECT freight_value FROM items")
values = cur.fetchall()


conn.close()

In [6]:
s = pd.Series(values)
s

s.info()

<class 'pandas.core.series.Series'>
RangeIndex: 112650 entries, 0 to 112649
Series name: None
Non-Null Count   Dtype
--------------   -----
112650 non-null  object
dtypes: object(1)
memory usage: 880.2+ KB

In [4]:
df_items.describe()

,id_items,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
count,0,112650,112650,112650,112650,112650,112650,112650
unique,0,98666,21,32951,3095,93318,5968,6999
top,NaN,8272b63d03f5f79c56e9e4120aec44ef,1,aca2eb7d00ea1a7b8ebd4e68314663af,6560211a19b47992c3666cc44a7e94c0,2017-07-21 18:25:23,59.9,15.1
freq,NaN,21,98666,527,2033,21,2481,3707